@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 定义 bounce 动画 */
@keyframes bounceX {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

/* 定义动画类 */
.bounce-on-hover {
  transition: transform 0.3s ease;
}

.bounce-on-hover:hover {
  animation: bounceX 0.6s ease-in-out;
}

/* 定义玻璃质感效果 */
.glass-effect {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* 定义 light-flow 动画 */
@keyframes light-flow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-light-flow {
  background-size: 200% 100%;
  animation: light-flow 1.4s infinite linear;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(16, 155, 255, 0.962) 50%,
    transparent 100%
  );
  transform: translateX(-100%);
}
